<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio" routerLink="/tabs/inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="contratos" routerLink="/tabs/contratos">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Contratos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sobre" routerLink="/tabs/sobre">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Sobre</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>